// background colors
$background1: #ffffff;
$background2: #ffffff4d;
$background3: #ffffff26;
$background4: #fbf9f9;
$background5: #f8f8f4cc;
$background6: #f7f7f2;
$background7: #f6f7f2;
$background8: #ebebde;
$background9: #e4e4d4;
$background10: #ffa500;
$background11: #ffa323;
$background12: #b7903c;
$background13: #888888;
$background14: #ef2853;
$background15: #ee2852;
$background16: #d2401e;
$background17: #c83b1a;
$background18: #1c1c1c;
$background19: #1b1b1b;
$background20: #00000026;

//text colors
$text1: #ffffff;
$text2: #d3cfaf;
$text3: #cdcdcd;
$text4: #b2b2b2;
$text5: #a6a6a6;
$text6: #b7903c;
$text7: #b68a2c;
$text8: #8f8f8f;
$text9: #339966;
$text10: #858585;
$text11: #767676;
$text12: #d2401e;
$text13: #ab4027;
$text14: #5a5a5a;
$text15: #303030;
$text16: #2d2d2d;
$text17: #1b1b1b;
$text18: #000000;

//border colors
$border1: #f6f7f2;
$border2: #efefe8;
$border3: #e4e4d4;
$border4: #b7903c;
$border5: #d2401e;
$border6: #1f1f1f;